.find-heading {
	color: $blue;
	margin-top: 0;

	@media (max-width: $screen-xs-max) {
		margin: 0 0 10px;
	}
}

.js-search-field {
	width: 100%;

	@media (min-width: $screen-md-min) {
		max-width: 500px;
	}
}

.js-search-input {
	font-size: large;
}

.no-results {
	font-size: large;
	max-width: 400px;
}

.no-results-body > .fa-exclamation-circle {
	color: $brand-warning;
}

.no-results > .btn-group {
	margin-top: 10px;
}

.filter-no-match,
.filter-no-match-delayed {
	opacity: 0.33;
}

.show-more-courses {
	text-align: center;
}
