<template name="venueEdit">
	<div class="edit-page venue-edit">
		{{#if _id}}
			<h2>{{i18n 'venue.edit.title' 'Edit venue'}}</h2>
		{{else}}
			<h2>{{i18n 'venue.edit.titleCreate' 'Create new venue'}}</h2>
		{{/if}}
		<form>
			<div class="mb-3">
				<label class="form-label">{{i18n 'venue.edit.name' 'Name'}}</label>
				<input type="text" class="form-control js-name"
					   placeholder="{{i18n 'venue.edit.namePlaceholder' 'Full name of venue'}}"
					   size="60" value="{{name}}">
			</div>
			<div class="mb-3">
				<label class="form-label">{{i18n 'venue.edit.description' 'Description'}}</label>
				{{> editableTextarea instance.editableDescription}}
			</div>
			{{#if showMapSelection}}
				<div class="row gap-3 mb-3">
					{{#if regionSelectable}}
						<div class="col-md">
							<label class="form-label">{{i18n 'venue.edit.region' 'Region'}}</label>
							<div class="input-group">
								<span class="input-group-text">
									<span class="fa fa-dot-circle-o fa-fw"
										  aria-hidden="true"></span>
								</span>
								<select name='region' class="form-select js-region">
									<option value=''>
										{{i18n 'venue.edit.pls_select' 'Please select'}}
									</option>
									{{#each region in regions}}
										<option value='{{region._id}}'>{{region.name}}</option>
									{{/each}}
								</select>
							</div>
						</div>
					{{/if}}
					{{#if regionSelected}}
						<div class="col-md">
							<label
								   class="form-label">{{i18n 'venue.edit.map' 'Please add Location by klicking + (on the right inside the map)'}}</label>
							{{> map markers=venueMarkers allowPlacing=allowPlacing allowRemoving=allowRemoving}}
						</div>
					{{/if}}
				</div>
			{{/if}}

			<div class="mb-3">
				<label class="form-label">{{i18n 'venue.edit.address' 'Address'}}</label>
				<div class="input-group">
					<span class="input-group-text">
						<span class="fa fa-map-marker fa-fw" aria-hidden="true"></span>
					</span>
					<input class="form-control js-address"
						   placeholder="{{i18n 'venue.edit.address.placeholder' 'Street, City, State'}}"
						   value={{address}}>

				</div>
			</div>

			<div class="mb-3">
				<label class="form-label">{{i18n 'venue.details.route'}}</label>
				<div class="input-group">
					<span class="input-group-text">
						<span class="fa fa-map-signs"></span>
					</span>
					<textarea class="form-control js-route" id="editform-address"
							  placeholder="{{i18n 'venue.route.placeholder' 'near busstop, cross fence, then backyard, enter the black door… 23rd floor, then left.'}}"
							  value={{route}}></textarea>
				</div>
			</div>
			<div class="mb-3">
				<label
					   class="form-label">{{i18n 'venue.edit.additionalInfo' 'Additional info (optional, but helps others find the venue)'}}</label>
				{{#if showAdditionalInfo}}
					<button type="button"
							class="btn btn-cancel btn-block js-toggle-additional-info-btn">
						{{i18n 'venue.edit.hideAdditionalInfo' 'Hide additional info'}}
					</button>
				{{else}}
					<button type="button"
							class="btn btn-secondary btn-block js-toggle-additional-info-btn">
						{{i18n 'venue.edit.provideAdditionalInfo' 'Fill out additional info'}}
					</button>
				{{/if}}
				<div {{displayAdditionalInfo}}>
					{{> venueEditAdditionalInfo}}
				</div>
			</div>
			<div class="form-actions">
				{{> buttonSave saving=saving}}
				{{> buttonCancel event="js-edit-cancel"}}
			</div>
		</form>
	</div>
</template>

<template name="venueEditAdditionalInfo">
	<div class="venue-edit-additional-info">
		<div class="mb-3">
			<label class="form-label">{{i18n 'venue.edit.shortName' 'Abbreviation'}}</label>
			<div class="input-group">
				<span class="input-group-text">
					<span class="fa fa-hashtag fa-fw" aria-hidden="true"></span>
				</span>
				<input class="form-control js-short"
					   placeholder="{{i18n 'venue.edit.short.placeholder' 'short name'}} {{i18n '_inputField.optional'}}"
					   value="{{short}}">
			</div>
		</div>
		<div class="row gap-3 mb-3">
			<div class="col-md">
				<label class="form-label">
					{{i18n 'venue.edit.max_ppl' 'Max. People'}}
				</label>
				<input type="number" class="form-control js-maxPeople" size="4"
					   value="{{maxPeople}}">
			</div>
			<div class="col-md">
				<label class="form-label">
					{{i18n 'venue.edit.max_workplace' 'Max. Workplaces'}}
				</label>
				<input type="number" class="form-control js-maxWorkplaces" size="4"
					   value="{{maxWorkplaces}}">
			</div>
		</div>
		<div class="row gap-3 mb-3">
			<div class="col-md">
				<label class="form-label">{{i18n 'venue.edit.infra' 'Infrastructure'}}</label>
				{{#each facility in facilityOptions}}
					<div class="form-check">
						<input {{facilitiesCheck facility}} id="venueEdit{{facility}}Check">
						<label class="form-check-label" for="venueEdit{{facility}}Check">
							{{i18n (facilitiesDisplay facility)}}
						</label>
					</div>
				{{/each}}
			</div>
			<div class="col-md">
				<label
					   class="form-label">{{i18n 'venue.edit.additionalEquipment' 'Additional equipment'}}</label>
				<textarea class="form-control js-otherFacilities">{{otherFacilities}}</textarea>
			</div>
		</div>
	</div>
</template>
