.badge-courses {
	background-color: $brand-primary;
}

.badge-events {
	$background-color: $green;

	background-color: $background-color;
	color: desaturate(darken($background-color, 40%), 50%);
}

.navbar-form-selection .dropdown {
	display: inline-block;
}

.js-region-search-form > .dropdown {
	position: relative;
}

.js-region-search-form > .dropdown > .control-arrow {
	color: #aaa;
	position: absolute;
	right: 3px;
}

.control-arrow:hover {
	cursor: pointer;
}

.js-region-search-form > .dropdown > .control-arrow.fa-angle-down {
	top: 10px;
}

.js-region-search-form > .dropdown > .control-arrow.fa-angle-up {
	top: 9px;
}
