@import '{}/imports/ui/stylesheets/variables/index';

.badge-courses {
	background-color: $primary;
}

.badge-events {
	$background-color: $green;

	background-color: $background-color;
	color: desaturate(darken($background-color, 40%), 50%);
}

.region-selection .is-splash .dropdown-menu {
	/* fixes a UI error on splash */
	margin-right: -13px !important;
}

.region-selection .dropdown-menu {
	@include media-breakpoint-down(lg) {
		background: none;
		border: 0;
		box-shadow: none;
		flex-basis: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
		position: initial;
	}
}

.region-selection .is-splash .dropdown-menu {
	@include media-breakpoint-down(lg) {
		background: $white;
	}
}

.region-link-private {
	background-color: #c2c3;
}
