<template name="eventMembers">
	<div class="event-page-component-header">
		<h4>
			<span class="fa fa-users fa-fw" aria-hidden="true"></span>
			{{#mf KEY='course.dtails.paticipants.title' NUM=howManyEnrolled}}
				{NUM, plural,
					=0 {No participants yet}
					one {1 Participant}
					other {# Participants}
				}
			{{/mf}}
		</h4>
	</div>
	{{#if members}}
		<div class="event-members">
			{{#if ownUserMember}}
				{{#with ownUserMember}}
                	{{> eventMember member=this event=.. isOwnUserMember=true}}
				{{/with}}
            {{/if}}
			{{#each sortedMembers}}
				{{> eventMember member=this event=..}}
			{{/each}}
			{{#if limited}}
				<button
					class="btn btn-add course-page-btn js-show-all-members"
					type="button">
					<i class="fa fa-plus fa-fw" aria-hidden="true"></i>
					{{#mf KEY='event.members.showMoreParticipants'}}
						Show more participants
					{{/mf}}
				</button>
			{{/if}}
		</div>
	{{/if}}
</template>

<template name="eventMember">
	<div class="event-member {{ownUserMemberClass}}">
		{{> profileLink member}}
	</div>
</template>
