<template name="invitationsList">

	<div class="row row-no-gutters responsive-table-head">
		<div class="col-sm-4">{{mf 'invitations.list.to' 'To'}}</div>
		<div class="col-sm-2">{{mf 'invitations.list.status' 'Status'}}
		</div>
		<div class="col-sm-3">{{mf 'invitations.list.acceptedBy' 'Accepted by'}}
		</div>
		<div class="col-sm-3">{{mf 'invitations.list.createdAt' 'Created At'}}
		</div>
	</div>
	{{#each invitation in invitations tenant._id}}
		<div class="row row-no-gutters responsive-table-row">

			<div class="col-xs-6 responsive-table-head">{{mf 'invitations.list.to'}}</div>
			<div class="col-xs-6 col-sm-4">{{invitation.to}}</div>

			<div class="col-xs-6 responsive-table-head">{{mf 'invitations.list.status'}}</div>
			<div class="col-xs-6 col-sm-2">{{invitation.status}}</div>

			<div class="col-xs-6 responsive-table-head">{{mf 'invitations.list.acceptedBy'}}</div>
			<div class="col-xs-6 col-sm-3">{{invitation.acceptedBy}}</div>

			<div class="col-xs-6 responsive-table-head">{{mf 'invitations.list.createdAt'}}</div>
			<div class="col-xs-6 col-sm-3">{{dateFormat invitation.createdAt}}
				{{timeFormat invitation.createdAt}}</div>

		</div>
	{{/each}}
</template>
