<template name="regionEdit">
	<div class="edit-page region-edit">
		<h2>{{mf 'region.edit.titleCreate' 'Create new region'}}</h2>
		<form>
			<div class="form-group">
				<label>{{mf 'region.edit.name' 'Name:'}}</label>
				<input type="text" class="form-control js-name"
					   placeholder="{{mf 'region.edit.namePlaceholder' 'Full name of region'}}"
					   value="{{name}}">
			</div>
			<div class="form-group">
				<div class="form-group-element">
					<label>{{mf 'region.edit.map' 'Please add the center of the region by klicking + (on the right inside the map)'}}</label>
					{{> map markers=regionMarkers maxZoom=16 allowPlacing=allowPlacing allowRemoving=allowRemoving}}
				</div>
			</div>

			<div class="form-group">
				<label>{{mf 'region.edit.timezone' 'Timezone:'}}</label>
				<select class="form-control js-timezone" name='region'>
					<option value='' disabled
							selected="{{#unless region.timezone}}selected{{/unless}}"
							class="select-placeholder">
						{{mf '_selection.pleaseSelect'}}
					</option>
					{{#each timezone in timezones}}
						<option value='{{timezone}}'
								selected="{{#if isCurrentTimezone timezone}}selected{{/if}}">
							{{timezone}}
						</option>
					{{/each}}
				</select>
			</div>

			<div class="form-actions">
				{{> buttonSave saving=saving}}
				{{> buttonCancel event="js-edit-cancel"}}
			</div>
		</form>
	</div>
</template>
