<template name="deleteCourseEvents">
	<div class="event-caption-wrap">
		<button class="btn p-0 js-show-events-delete-modal"
				title="{{mf 'course.event.edit.deleteEvents' 'Delete events'}}">
			<div class="event-caption placeholder event-caption-action event-caption-delete">
				<div class="event-caption-header-wrap">
					<div class="event-caption-header">
						<span class="fa fa-map-pin"></span>
						<div class="event-caption-pseudoborder"></div>
					</div>
				</div>
				<div class="event-caption-body-wrap">
					<div class="event-caption-body"></div>
				</div>
				<span class="event-caption-icon">
					<i class="fa fa-trash fa-2x"></i>
				</span>
			</div>
		</button>
	</div>
</template>

<template name="deleteEventsModal">
	<div class="modal delete-events-modal js-delete-events-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">
						<i class="fa fa-trash fa-fw" aria-hidden="true"></i>
						{{mf 'deleteEventsModal.title' 'Delete course events'}}
					</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{#if state 'showDeleteConfirm'}}
						<div class="panel panel-danger">
							<div class="panel-heading">
								<h4 class="panel-title">
									{{mf 'deleteEventsModal.confirm' 'Confirm deleting events'}}
								</h4>
							</div>
							<div class="panel-body">
								{{#mf KEY='deleteEventsModal.reallyDelete' NUM=numSelectedEvents}}
									Do you really want to delete {NUM, plural, one {this event} other {these # events}}?
								{{/mf}}
								<ul class="list-group selected-events">
									{{#each event in selectedEvents}}
										<li class="list-group-item list-group-item-danger">
											<button type="button"
													class="btn-close js-deselect-event float-end"
													data-event-id="{{event._id}}"
													aria-label="Close"></button>
											{{> deleteEventsEvent event}}
										</li>
									{{/each}}
								</ul>
								<div class="delete-events-actions">
									<button type="button" class="btn btn-danger js-delete-events"
											{{disabledIfBusy}}>
										{{#if busy 'deleting'}}
											<span class="fa fa-circle-o-notch fa-spin fa-fw"
												  aria-hidden="true"></span>
											{{#mf KEY='deleteEventsModal.deletingEvents' NUM=numSelectedEvents}}
												Deleting {NUM, plural, one {event} other {events}}...
											{{/mf}}
										{{else}}
											{{#mf KEY='deleteEventsModal.confirmDeleteEvents' NUM=numSelectedEvents}}
												Delete {NUM, plural, one {event} other {events}}
											{{/mf}}
										{{/if}}
									</button>
									<button type="button" class="btn btn-secondary js-cancel"
											{{disabledIfBusy}}>
										{{mf '_button.cancel'}}
									</button>
								</div>
							</div>
						</div>
					{{else}}
						<div class="delete-events-list">
							{{#each upcomingEvents}}
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value=""
										   id="deleteEventsListCheck" checked="{{isSelected}}"
										   {{disabledIfBusy}} />
									<label class="form-check-label"
										   for="deleteEventsListCheck">{{> deleteEventsEvent this}}</label>
								</div>
							{{/each}}
						</div>
						<div class="delete-events-actions">
							<button class="btn btn-danger js-show-delete-confirm"
									{{disabledIfNoEventsSelected}}>
								{{#mf KEY='deleteEventsModal.deleteEvents' NUM=numSelectedEvents}}
									Delete {NUM, plural, =0 {event} one {event} other {# events}}
								{{/mf}}
							</button>
							<button class="btn btn-secondary js-toggle-all">
								{{#if state 'allEventsSelected'}}
									{{mf 'deleteEventsModal.clearSelection' 'Clear selection'}}
								{{else}}
									{{mf 'deleteEventsModal.selectAll' 'Select all'}}
								{{/if}}
							</button>
						</div>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="deleteEventsEvent">
	<span class="delete-events-events-title">
		{{title}}
	</span>
	<div class="delete-events-details">
		<span class="delete-events-details-component">
			<i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
			{{weekdayFormat start}}
			{{dateFormat start}}
		</span>
		<span class="delete-events-details-component">
			<i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
			{{timeFormat start}}
			-
			{{timeFormat end}}
		</span>
	</div>
</template>
