.profile {
	&-header {
		display: flex;
	}

	&-avatar {
		margin: 0 15px 0 0;
		width: 60px;

		@media (min-width: $screen-xsm) {
			position: static;
			margin: 0 30px 0 0;
			width: 150px;
		}
	}

	&-title {
		margin-top: 0;

		@media (min-width: $screen-xsm) {
			margin-top: 19px;
		}
	}

	&-description {
		margin: 0 0 20px 0;
	}
}
