<template name="invitationsCreate">
	<form class="js-create-invitations gap-md">
		<div class="form-group {{errorClass 'invitations-emails'}}">
			<label>{{mf 'invitations.create.field.emails' 'Create invitations'}}</label>
			<textarea class="js-invitations-emails form-control" rows="5"
					  placeholder="{{mf 'invitations.create.field.emails.placeholder' 'Add a list of e-mail addresses. One per line.'}}"></textarea>
			{{errorMessage 'invitations-emails'}}
		</div>
		<button type="submit" class="btn btn-add"
				{{disabledIfBusy}}>{{mf 'invitations.create.button.text' 'Create'}}</button>
	</form>
</template>
