.admin-active-task {
	margin-top: 15px;
}

.admin-back-to-dashboard > i {
	@include td-margin(right, 5px);
}

.checkmark {
	@include td-padding(left, 5px);
	color: $green-dark;
}

.profilelink {
	color: $gray-dark;

	&:hover {
		color: $brand-primary;
		text-decoration: none;
	}
}

.leaflet-top {
	z-index: auto;
}

select:hover {
	cursor: pointer;
}

.select-placeholder:hover {
	cursor: not-allowed;
}

a:hover,
.btn-link:hover,
a:focus,
.btn-link:focus {
	box-shadow: none !important;
	text-decoration: none;
}

.course-compact.elevate-child,
.course-compact.elevate-child:hover {
	box-shadow: none;
	transition: box-shadow $default-transition-time;
}

.collapsing,
.fade {
	transition: none;
}
