@import '{}/node_modules/medium-editor/src/sass/medium-editor';
@import '{}/node_modules/medium-editor/src/sass/themes/default';

.medium-editor-placeholder:hover {
	cursor: text;
}

.medium-editor-placeholder::after {
	font-style: normal;
	position: relative;
	white-space: normal;
}
